@import '@servicenow/sass-kit/host';

.incident-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .incident-list_header {
        width: 100%;
        text-align: center;
    }
    .search-area {
        width: calc(100% - 30px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5px;
        input {
            flex-grow: 6;
            border: 0.5px solid #000;
            padding: 5px;
            border-right: none;
            width: 80%;
        }
        button {
            flex-grow: 1;
            padding: 5px;
            border: 0.5px solid #000;
            width: calc(20% - 1.5px);
            outline: none;
            &:active {
                background-color: rgb(200, 200, 200);
            }
        }
        .search-area-select {
            padding-top: 10px;
            margin-left: auto;
        }
    }
    .incident {
        width: calc(50% - 20px);
        margin: 5px;
    }
    .modal-window {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .modal-item {
            width: calc(50% - 20px);
            margin: 5px;
            padding-bottom: 5px;
            border-bottom: 1px grey solid;
            .modal-item-title {
                color: grey;   
                font-size: 0.9rem;
            }
        }
    }
}
